# Virtual Environment
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / Packaging
build/
dist/
*.egg-info/

# Django
db.sqlite3
*.sqlite3

# Static & Media (optional)
media/
staticfiles/

# Environment variables
.env
.env.*

# Logs
*.log

# Test / Coverage
.coverage
htmlcov/
.pytest_cache/
.tox/
.mypy_cache/

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Jupyter
.ipynb_checkpoints/

# Type checker
.pyre/

# Ruff
.ruff_cache/